{% load static %}
<nav class="navbar navbar-expand-lg navbar-primary bg-light">
    <div class="container justify-content-center">
      <a class="navbar-brand display-1" href="{% url 'home' %}">Pawradise</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Nueva Reserva
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'booking_hotel' %}">Hotel</a></li>
            <li><a class="dropdown-item" href="{% url 'booking_diario' %}">Diario</a></li>
            <!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </li>
        {% comment %}
        <!-- <li class="nav-item">
          {% if request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'profile' user.id %}">Profile</a>
            {% endif %}
        </li> -->
        {% endcomment %}
        <li class="nav-item">
            {% if request.user.is_authenticated %}
              <a class="nav-link text-danger" href="{% url 'logout' %}">Log Out</a>
            {% else %}
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
          {% endif %}
        </li>
        <li class="nav-item">
            <a href="/admin" class="nav-link">Admin</a>
        </li>
      </ul>
    </div>
      </div>
    </div>
</nav>