{% extends 'index.html' %}

{% block content %}
{% load static %}
<div class="container">
    
<p>Propietario:</p>

<!-- <p>Para:</p>
<select class="form-select" aria-label="Default select example">
    {% for dog in user_dogs %}
    <option name="{{dog.nombre}}" selected>{{dog.nombre}}</option>
    {% endfor %}
  </select> -->
<!-- <p>Paquete:</p>
<select class="form-select" aria-label="Default select example">
    <option name="halfday" value="halfday"> Medio dia - $7.49</option>
    <option name="1day" value="1day">Pase Diario - $12.84</option>
    <option name="3day" value="3day">Pase 3 dias - $35.31</option>
    <option name="6day" value="6day">Pase 6 dias - $64.20</option>
    <option name="12day" value="12day">Pase 12 dias - $117.70</option>
    <option name="24day" value="24day">Pase 24 dias - $214.00</option>
  </select>
  <p>Fecha:</p>
  <input name="reserve_date" class="form-control" type="date"> -->
  <!-- Form -->
  <form method="POST" action="">
    {% csrf_token %}
    <div class="form-control">
      {{form.as_p}}
      <input type="submit" class="btn btn-primary bg-gradient container text-center my-3" name="Submit" value="Save"/>
      </div>
  </form>
<!--  -->
</div>

{% endblock %}