{% extends 'index.html' %}

{% block content %}
{% load static %}

<div class='container'>
<a href="/admin/main/reserves_daily/add/" type="button" class="btn btn-success rounded-pill">+ Agregar Diario</a>
<a href="/admin/main/reserves_hotel/add/" type="button" class="btn btn-success rounded-pill">+ Agregar Hotel</a>
<a href="{% url 'historial_admin' %}" type="button" class="btn btn-success rounded-pill">Historial</a>


<div class="row">
    <div class="col">
      <div class="card border-success mb-2">
        <div class="card-header p-3 pt-3">
            <div class="text-center pt-1">
                <p class="text-sm mb-0 text-capitalize text-success">Para Hoy:</p>
                <h4 class="mb-0 text-success">{{expected_today}}</h4>
            </div>
        </div>
    </div>
    </div>
    <div class="col">
        <div class="card border-success mb-2">
          <div class="card-header p-3 pt-3">
              <div class="text-center pt-1">
                  <p class="text-sm mb-0 text-capitalize text-success">Total:</p>
                  <h4 class="mb-0 text-success">{{total_checked_in}}</h4>
              </div>
          </div>
      </div>
      </div>
</div>

<h1>Reservas Diario</h1>
<table class = "table">
<thead>
<tr>
    <th scope="col">dev_id</th>
    <th scope="col">NOMBRE</th>
    <th scope="col">INGRESO</th>
    <th scope="col">DISPONIBLE</th>
    <th scope="col">PROPIETARIO</th>
    <th scope="col">CHECK-IN/OUT</th>
</tr>
</thead>
<tbody>

{% for dog in today_reserves %}
<tr>
    <td>
        {{dog.id}}
    </td>
    <td>
        {{dog.dog}}
    </td>
    <td>
        {{dog.fecha_in}}
    </td>
    <td>
        {{dog.propietario.available_days}} dias
    </td>
    <td>
        {{dog.propietario}} {{dog.propietario.apellido}}
    </td>
    <td>
    <form action="{% url 'check_in_out_daily' dog.id %}" method="POST">
    {% csrf_token %}
    {% if dog.is_checked_in %}
    <button type="Submit" class="btn btn-outline-danger">
        Check out
    </button>
    {% else %}
    <button type="Submit" class="btn btn-outline-success">
        Check in
    </button>
    {% endif %}
    
    </form>
    </td>
</tr>

{% endfor %}

</tbody>
</table>
<h1>Total Reservas Hotel {{hotel_total_checked_in}}</h1>
<table class = "table">
<thead>
<tr>
    <th scope="col">NOMBRE</th>
    <th scope="col">FECHA DE INGRESO</th>
    <th scope="col">FECHA DE SALIDA</th>
    <th scope="col">PROPIETARIO</th>
    <th scope="col">CHECK-IN/OUT</th>
</tr>
</thead>
<tbody>

{% for dog in hotel_reserves %}
<tr>
    <td>
        {{dog.dog}}
    </td>
    <td>
        {{dog.fecha_in}}
    </td>
    <td>
        {{dog.fecha_out}}
    </td>
    <td>
        {{dog.propietario}}
    </td>
    <td>
    <form action="{% url 'check_in_out_hotel' dog.id %}" method="POST">
    {% csrf_token %}
    {% if dog.is_checked_in %}
    <button type="Submit" class="btn btn-outline-danger">
        Check out
    </button>
    {% else %}
    <button type="Submit" class="btn btn-outline-success">
        Check in
    </button>
    {% endif %}
    
    </form>
    </td>
</tr>
{%endfor%}

</tbody>
</table>
</div>

{% endblock %}