<!-- filepath: /Users/george/Documents/GitHub/pawradise/main/templates/main/password_reset_view.html -->
{% extends 'index.html'%}
{% load crispy_forms_tags %}
{% block content %}

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow-lg border-0 rounded-4">
        <div class="card-header text-center py-4" style="background: #cc688b;">
          <h4 class="mb-0 text-white">Restablece tu contraseña</h4>
        </div>
        <div class="card-body bg-light rounded-bottom-4">
          <form method="POST">
            <p class="mb-2">¿Olvidaste tu contraseña?</p>
            <p class="mb-4">Ingresa tu correo aquí y te enviaremos instrucciones para una nueva.</p>
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary w-100 rounded-pill mt-3" type="submit" value="Enviar" name="Send email">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}