{% extends 'index.html' %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container-sm text-dark form-control bg-transparent">
    
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-control container-sm text-dark form-control bg-gray-200">
    {% crispy newdog_form %}
    <input type="submit" class="btn btn-primary bg-gradient container text-center my-3" name="Submit" value="Save"/>
          </div>
      </form>

</div>

{% endblock %}